Repository Manotomo-Alliance-Support-Squad/WWS, pull requests merged in 2021-03, with the labels that each got.

#2 Artwork and recipient changes
  backend/main/server/models.py
  backend/main/server/resources/Game.py
  backend/main/server/resources/Message.py
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/models/artwork.ts
  frontend/src/models/message.ts
  frontend/src/pages/home/home.tsx
Labels: enhancement

#10 clean up assets
  frontend/src/App.tsx
  frontend/src/assets/backgrounds/bg.png
  frontend/src/assets/cards/card1.svg
  frontend/src/assets/cards/card2.svg
  frontend/src/assets/cards/card3.svg
  frontend/src/assets/icons/AloeHeartIcon.png
  frontend/src/assets/icons/close.png
  frontend/src/assets/icons/play.png
  frontend/src/assets/icons/twitterIcon.svg
  frontend/src/assets/icons/youtubeIcon.svg
  frontend/src/assets/sprites/manotomo-cake2.png
  frontend/src/assets/sprites/manotomo1.old.png
  frontend/src/assets/sprites/manotomo1.png
  frontend/src/assets/sprites/manotomo2.png
  frontend/src/components/gamesSection/gameCard/gameCard.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/gamesSection/gameSection.css
  frontend/src/components/gamesSection/gameSection.tsx
  frontend/src/components/gamesSection/gameWindow.tsx
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/controllers/mano-aloe.service.ts
  frontend/src/models/game.ts
  frontend/src/models/response.ts
  frontend/src/pages/game/game.tsx
  frontend/src/services/game.service.ts
  frontend/src/services/session.service.ts
Labels: enhancement, frontend

#11 Card rework and add header message
  frontend/src/App.css
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/inPageNav/inPageNav.css
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  systemd/manoaloe.service
Labels: enhancement, frontend

#14 Flip Flappers
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/backgrounds/header_bg.png
  frontend/src/assets/cards/rara_footer_haachama.png
  frontend/src/assets/cards/rara_header_haachama.png
  frontend/src/assets/icons/translateIcon.svg
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/headerSection/header.css
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/inPageNav/inPageNav.tsx
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/navigation/navbar.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/globalStyles/global.css
Labels: bug, enhancement, frontend

#15 fixed calculation for card heights using a very scuffed but working method
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
Labels: enhancement, frontend

#19 No flag render
  backend/requirements.txt
  frontend/package.json
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/models/message.ts
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#20 Header style changes
  frontend/public/index.html
  frontend/src/components/headerSection/header.css
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#25 swapped translation thing cuz we messed up a little on the design docs
  frontend/src/components/languageSwitch/languageSwitch.tsx
  frontend/src/pages/home/home.tsx
Labels: bug, frontend

#27 add image metadata
  frontend/public/index.html
Labels: enhancement, frontend

#30 Card style 2
  frontend/src/assets/cards/rara_header2_haachama.png
  frontend/src/assets/cards/valentine_card1.svg
  frontend/src/assets/cards/valentine_card2.svg
  frontend/src/components/comboSection/comboSection.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
Labels: frontend
